body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

body,
a {
  color: var(--color-muted);
}

.app-header,
.main-nav,
.sidebar .divider,
.projects-navigation {
  padding: 1.25rem 1.8rem;
}

button {
  cursor: pointer;
}
