.app {
  --container-padding: 0.7rem 1.8rem;
  display: grid;
  grid-template-columns: 280px 1fr;
}

.container {
  max-width: var(--breakpoint-xl);
  padding: var(--container-padding);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: auto;
}

@media (max-width: 992px) {
  .app {
    --container-padding: 0.7rem 1rem;
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none !important;
  }

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
