.app {
  --header-padding: 0.7rem 1.8rem;
  display: grid;
  grid-template-columns: 280px 1fr;
}

@media (max-width: 768px) {
  .app {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none !important;
  }
}
