.searchbar {
  padding: 0 1rem;
  min-width: 20rem;
  border-radius: var(--border-radius);
  background-color: var(--color-grey);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.searchbar .icon {
  font-size: 1.2rem;
}

.searchbar .input {
  /* border: none;
  background-color: var(--color-grey); */
  outline: none;
  width: 100%;
  padding: 0.8rem 0;
}
