h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-black);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

/* --breakpoint-lg */
@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

/* --breakpoint-xs */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
}
