.app-header {
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--header-padding);
  height: 4.1rem;
}

.app-logo {
  width: 9rem;
}

.app-header .sidebar-toggle {
  all: unset;
  cursor: pointer;
  padding: 0.2rem;
  line-height: 1;
}

.app-header .quick-actions .notification-indicator {
  height: 6px;
  width: 6px;
  background-color: var(--color-danger);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.app-header .profile-actions {
  display: flex;
  align-items: center;
  gap: 5rem;
}

@media (max-width: 992px) {
  .app-header .searchbar {
    width: 100%;
  }

  .app-header .profile-actions {
    gap: 2rem;
  }
}

@media (max-width: 992px) {
  .app-header {
    padding-right: 1rem;
    padding-left: 1rem;

    /* padding: 0 1rem; */ /* Why this parameter does the same as above?  
    I thought that giving this parameteres would give zero padding top and bottom and given padding to right and left */
  }
}

@media (max-width: 768px) {
  .app-header .searchbar {
    display: none;
  }

  .app-header .profile-actions {
    justify-content: space-between;
    width: 100%;
  }
}
