.board-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.filters {
  display: flex;
  gap: 1rem;
}

.board-actions .vertical-divider {
  width: 1px;
  height: 30px;
  background: var(--color-muted);
}
