.button {
  cursor: pointer;
  padding: 0.6rem 1rem;
  background-color: #fff;
  border-color: transparent;
  border-radius: var(--border-radius);
  transition: background-color var(--transiton-duration);
}

.button:hover {
  background-color: #ececec;
}
