.icon-button {
  --Iconsax-Size: 1rem;
  --Iconsax-Color: var(--color-primary);
  background: var(--color-primary-light);
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-button.small {
  --Iconsax-Size: 0.9rem;
  width: 18px;
  height: 18px;
}
