.icon-button {
  --Iconsax-Size: 1rem;
  --Iconsax-Color: var(--color-primary);
  background: var(--color-primary-light);
  padding: 0.2rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
