.mini-profile {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.user-info {
  max-width: 6rem;
  text-align: end;
}

.user-info > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mini-profile .username {
  color: var(--color-black);
  margin-bottom: 0.1rem;
}

.mini-profile .avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.mini-profile-dropdown-toggle {
  --Iconsax-Size: 1rem;
  all: unset;
  cursor: pointer;
}
